@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --first-font: 'Poppins','sans-serif';
}
body{
    overflow: hidden;
    overflow-x: clip;
}
.top-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
}

.logo img{
    max-width: 100%;
    height: 150px;
    object-fit: contain;
}

.title{
    font-family: var(--first-font);
    font-size: 25px;
}

.containers {
    max-width: 1520px;
    margin: 0 auto;
    padding: 0 20px !important;
}

.tabs{
    display: flex;
    gap: 20px;
    padding: 20px;
    a{
        font-family: var(--first-font);
        font-weight: 700;
        cursor: pointer;
    }
}
.live {
    display: block;
}

.content {
    display: none;
    animation: fadeIns 1s ease-in-out forwards;
}


@keyframes fadeIns {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .content.live {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 75px;
    transition: 1s;
}

.registerTitle{
    font-size: 30px;
    font-family: var(--first-font);
}
.registerh3Title{
    font-size: 20px;
    font-family: var(--first-font);
}
.registerFormContainer{
    display: flex;
    flex-wrap: nowrap;
    gap: 50px;
}

.registerCont35{
    flex-basis: 35%;
}

.registerCont65{
    flex-basis: 65%;
}

form#registerForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 50px;

    input{
        padding: 20px 10px;
        color: #000;
    }
    input::placeholder{
        font-family: var(--first-font);
    }
    input:focus{
        outline: none;
    }
    .formSubmit{
        background-color: #000;
        color: #fff;
        font-family: var(--first-font);
        font-size: 15px;
    }
}
select#classLesson{
    padding: 7px 7px;
    font-family: var(--first-font);
    background-color: #000;
    color: #fff;
}
select#classLesson option{
    padding: 15px;
    font-family: var(--first-font);
    color: #fff;
}

.studentHead{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.studentHead li{
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    font-family: var(--first-font);
    color: #000;
}

.studentinfo{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.studentinfo li{
    text-decoration: none;
    list-style: none;
    font-size: 15px;
    font-family: var(--first-font);
    color: #000;
}

.rcollContainer{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    gap: 40px;
}

.rColUser{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comegreenButton{
    background-color: green;
    padding: 15px;
    font-family: var(--first-font);
    font-size: 12px;
    color: #fff;
    margin: 0 10px;
}

.comeredButton{
    background-color: red;
    padding: 15px;
    font-family: var(--first-font);
    font-size: 12px;
    color: #fff;
    margin: 0 10px;

}